
#Main,#Main2{
    width: 100%;
   }
   
   #Main3{
       width: 100%;    
       background-color: rgb(242, 242, 242);
   }
   #Main4{
       width: 100%;    
       background-color: rgb(230, 230, 230);
   }
   
   
   .Title{
   display: flex;
   justify-content: space-between;
   margin: auto;
   align-items: center;
   height: 100px;
   width: 90%;
   
   
   }
   .Title>div>input{
       height: 35px;
   }
   .Title>div>div{
      
       display:flex;
       justify-content: space-between;
       width: 150px;
       margin: auto;
       padding-right: 20px;
       font-family: 'Lato', sans-serif;
       font-size: 15px;
   }
   .Title-Options{
      
       display: flex;
       justify-content: space-between;
       margin: auto;
       width: 90%;
       height: 55px;
       align-items: center;
   }
   

   .Title-Options2{
       
       display: flex;
       justify-content: space-between;
       margin: auto;
       width: 84%;
       height: 55px;
       align-items: center;
       font-family: 'Lato', sans-serif;
       font-size: 15px;
   }
   .Title-Options3{
       display: flex; 
       margin: auto;
       justify-content: center;
       font-family: 'Lato', sans-serif;
       font-size: 14px;
       color: rgb(37, 0, 0);
   
   }
   
   /* <!------------------------------Top Section Sliding Window------------------------------------> */
   .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    display:flexbox;
    width: 500px;
    color: #f2f2f2;
    padding-bottom: 200px;
    padding-left: 850px;
    position: absolute;
    bottom: 8px;
    text-align: left;
  }
  
  .text>:nth-child(1){
    font-size: 55px;
    
  }

  .text>:nth-child(2){
    font-size: 22px;
    
  }
  #black{
    color: black;
  }
  
  #blackbutton{
    background-color: black;
    color: white;
  }
  .text>button{
    font-size:22px ;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
    
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #000000;
  }
  

  .middletext{
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
  }





/* <!------------------------------Middle Section Sliding Window------------------------------------> */
  .middle1{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: auto;
  }

#image{
  width: 50%;
}
  
.midslide{
  width: 70%;
  
}


.slideshow-container1 {
    max-width: 40%;
    position: relative;
    margin: auto;
    
   
  }
  
  /* Hide the images by default */
  .mySlides1 {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
  }
  #black{
    color: black;
  }
  
  #blackbutton1{
    background-color: black;
    color: white;
  }

  .text1 {
    
 
    width: 100%;
    color: #060606;
    
  
    text-align: center;
  }
  
  .text1>:nth-child(1){
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  }

  .text1>:nth-child(2){
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  } 

  .text1>button{
   font-size:22px ;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 100%;
   background-color: #060606;
   color: white;
  }
  /* The dots/bullets/indicators */
  .dot1 {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    transition: background-color 0.6s ease;
  }
  
  .active1, .dot1:hover {
    background-color: #000000;
  }
  

  #mid-cat{
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
  }

  .mid-cat1{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: auto;
    text-align: center;
  }

  .mid-image{
   
    width: 85%;
    margin: auto;
    padding-top: 50px;
  }

/* ------------------mid 6 images sliding --------------------------- */

.mid-6products,.mid-3products{
display: flex;
justify-content: space-between;
margin: auto;
width: 85%;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.mid-6products>div>p,.mid-3products>div>p{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.mid-6products>div>button{
  background-color: #060606;
  color: white;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.mid-3products>div>button{
 border: 2px solid black;
color: rgb(0, 0, 0);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.brands{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  height: auto;
  padding-top: 40px;
  align-items: center;
}


.bottom-icon{
display: flex;
justify-content: space-between;
margin: auto;
text-align: left;
width: 85%;
}

.bottom-icon>div{
  font-family: 'Lato', sans-serif;
}
.bottom-icon>div>button{
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #060606;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;

}

.customer-panel{
display: flex;

width: 85%;
margin: auto;
padding-top: 50px;
text-align: left;
flex-direction: row;


}

.customer-panel1{
  
display: flex;
flex-direction: column;
align-items: flex-start;
}
.customer{
display: flex;
flex-direction: row;
align-items: center;
height: auto;
width: 85%;

}
.customer-panel2{
  
  display: flex;
  flex-direction: row;
  width:50%;
  justify-content: space-between;
}

